h1 {
  color: #cc1f1f;
  font-family: Dosis;
  font-size: 250%;
}

h2,
h3 {
    color: black;
    font-family: Dosis;
    font-weight: lighter;
}

button {
  background-color: #cc1f1f;
  border-radius: 5px;
  border: 0px;
  color: rgb(252, 252, 252);
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
}

button:hover {
  color: #f7f7f7;
  background-color: #000000;
  left: .1em;
}

body {
  margin: 2em;
}

